<mat-card
  class="task-cover"
  *ngFor="let task of tasks; trackBy: trackById"
>
  <mat-card-header>

    <!-- task title -->
    <mat-card-title>
      <textarea
        #taskTitleElement
        class="title-area"
        [maxlength]="maxLength"
        [cols]="colsNumber"
        [rows]="showRows(task.task)"
        [(ngModel)]="task.task"
        (focus)="saveOldTitle(task?.task)"
        (blur)="updateTask(taskTitleElement, task?.task, task?._id)"
      >
          {{task?.task}}
        </textarea>
    </mat-card-title>
    <!--/ task title -->

    <mat-card-subtitle class="edit">
      <button mat-icon-button>
        <mat-icon (click)="remove($event, task?._id)">close</mat-icon>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card (click)="addOpen=true" class="create">
  <button *ngIf="!addOpen" mat-button>+ Add a card</button>
  <form *ngIf="addOpen">
    <mat-form-field>
      <input matInput type="text" name="taskTitle" [(ngModel)]="taskTitle" placeholder="Enter a title for this card..."/>
    </mat-form-field>
    <div>
      <button mat-button [disabled]="!taskTitle" color="primary" (click)="addTask()">Add Card</button>
      <button mat-icon-button>
        <mat-icon (click)="close($event)">close</mat-icon>
      </button>
    </div>
  </form>
</mat-card>
