<h3>Log In</h3>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Enter Email</mat-label>
    <input matInput type="email" [(ngModel)]="email" placeholder="Email">
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Enter Password</mat-label>
    <input matInput type="password" [(ngModel)]="password" placeholder="Password">
  </mat-form-field>
</p>

<p *ngIf="error?.error">
  <mat-hint class="error-text">
    {{error?.statusText}} - Try again later.
  </mat-hint>
</p>

<div class="buttons">
  <button mat-raised-button>Reset</button>
  <button mat-raised-button color="primary" (click)="logIn()">Log In</button>
</div>
