<mat-card
  *ngFor="let list of lists; trackBy: trackById"
>
<mat-card-header>
  <mat-card-title>{{list.title}}</mat-card-title>
  <mat-card-subtitle>Last Updated: {{list.updatedAt | date: 'dd MMMM yyyy'}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>tasks</mat-card-content>
<mat-card-actions align="end">
  <button mat-raised-button color="accent" (click)="remove($event, list._id)">
    <span>Remove List</span>
  </button>
</mat-card-actions>
</mat-card>
<mat-card  (click)="addOpen=true" class="create">
  <button *ngIf="!addOpen" mat-button>+ Add a list</button>
  <form *ngIf="addOpen">
    <mat-form-field>
      <input matInput type="text" name="listTitle" [(ngModel)]="listTitle" placeholder="Enter list title..."/>
    </mat-form-field>
    <div>
      <button mat-button [disabled]="!listTitle" color="primary" (click)="addList()">Add List</button>
      <button mat-icon-button>
        <mat-icon (click)="close($event)">close</mat-icon>
      </button>
    </div>
  </form>
</mat-card>
