<nav mat-tab-nav-bar *ngIf="!isLoggedIn">
  <a mat-tab-link
     *ngFor="let tab of tabs"
     [routerLink]="tab.path"
     routerLinkActive
     #rla="routerLinkActive"
     [active]="rla.isActive"
  >
    {{tab.title}}
  </a>
</nav>

<nav class="top-nav" *ngIf="isLoggedIn">
  <div class="top-nav-header">
    <h3>Trello Boards</h3>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>add_circle_outline</mat-icon>
      <span>Add Board</span>
    </button>
    <button mat-menu-item>
      <mat-icon>voicemail</mat-icon>
      <span>Log Out</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Item 3</span>
    </button>
  </mat-menu>
</nav>
