/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-grow: 1;
}

app-root {
  flex-grow: 1;
}

.error-text {
  color: red;
}

.style-error .mat-simple-snackbar-action {
  @extend .error-text;
}

.auth-container .mat-form-field {
  display: block;
}

.mat-card-header-text {
  margin: 0 !important;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.mat-form-field-wrapper .mat-form-field-flex {
  align-items: flex-end;
}
