/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Helvetica, sans-serif;
}

.error-text {
  color: red;
}

.style-error .mat-simple-snackbar-action {
  @extend .error-text;
}

.auth-container .mat-form-field {
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
